*.zip
*.mid
*.wav
*.pkl
data*.h5
maps*.h5
timit.h5
note_*.h5
models/*.h5
models/*.json
models/final
*.npy

.DS_Store
.#*

*~

.ipynb_checkpoints/
*.pyc

venv/

.python-version

*.out
*.aux
*.sty
*.log
*.bst